/*
Folha de estilo do site one page HTML5 e CSS3 @author ricbsan
*/

/*CSS Reset*/
* {
    margin: 0;
    border: 0;
    padding: 0;
}

/*Smartphone Portrait  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 576px){
    body{
        background-color: #00ffff;
    }
}

/*STablet Portrait  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 768px){
    body{
        background-color: #ff0;
    }
}

/*Tablet Landscape  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 992px){
    body{
        background-color: #f61;
    }
}

/*PC                >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 1200px){
    body{
        background-color: #bcffff;
    }
}